Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Clean up code
  index.js
  test/feature.test.js
Due: eslint

Typo
  README.md
Due: yaspeller-ci

Release 4.22 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update Firefox ESR versions
  index.js
Due: eslint

Update Firefox ESR versions (#794)
  index.js
Due: eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Release 4.22.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

fix: clone releaseDate when normalizing android
  index.js
Due: eslint

fix: clone releaseDate when normalizing android (#805)
  index.js
Due: eslint

Fix old Node.js support
  index.js
Due: eslint

Release 4.22.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add Workleap sponsor
  README.md
Due: yaspeller-ci

Allow arbitrary whitespaces in `supports` queries
  index.js
  test/feature.test.js
Due: eslint

Allow arbitrary whitespaces in `supports` queries (#815)
  index.js
  test/feature.test.js
Due: eslint

Updated regex to have the option of adding an extension after @companyName but before /browserslist-config
  node.js
Due: eslint

Updated regex to have the option of adding an extension after @companyName but before /browserslist-config (#816)
  node.js
Due: eslint

Add Node.js 21 to CI
  .github/workflows/test.yml
Due: none

Release 4.22.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update grammar definition file
  grammar.w3c-ebnf
Due: none

Update grammar definition file (#817)
  grammar.w3c-ebnf
Due: none

Create qtx
  qtx
Due: none

feat: add BROWSERSLIST_ROOT_PATH
  README.md
  index.d.ts
  node.js
  test/config.test.js
  test/main.test.js
Due: yaspeller-ci, eslint

fix linter errors
  node.js
Due: eslint

feat: add BROWSERSLIST_ROOT_PATH (#819)
  README.md
  index.d.ts
  node.js
  test/config.test.js
  test/main.test.js
Due: yaspeller-ci, eslint

Add Github release workflow
  .github/workflows/release.yml
Due: none

Update CI
  .github/workflows/test.yml
Due: none

Release 4.23 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

📝 Fix typos in README.md
  README.md
Due: yaspeller-ci

📝 Fix typos in README.md (#822)
  README.md
Due: yaspeller-ci

Fix feature queries with mobile to desktop when caniuse lags latest release
  index.js
  test/feature.test.js
Due: eslint

Fix feature queries with mobile to desktop when caniuse lags latest release (#831)
  index.js
  test/feature.test.js
Due: eslint

Move to pnpm 9
  .github/workflows/test.yml
  pnpm-lock.yaml
Due: none

Add Node.js 22 to CI
  .github/workflows/test.yml
Due: none

Use pnpm 9 for Node.js 20 and 18
  .github/workflows/test.yml
Due: none

Update ESLint and dependencies
  eslint.config.mjs
  node.js
  package.json
  pnpm-lock.yaml
  test/and.test.js
  test/cover.test.js
  test/coverage.test.js
  test/custom.test.js
  test/electron.test.js
  test/esr.test.js
  test/main.test.js
  test/major.test.js
  test/node.test.js
  test/range.test.js
  test/shareable-stats.test.js
  test/years.test.js
Due: eslint

Update lock
  pnpm-lock.yaml
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
