Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

fix typo in readme
  README.md
Due: yaspeller-ci

fix typo in readme (#390)
  README.md
Due: yaspeller-ci

Added TOC to readme
  README.md
Due: yaspeller-ci

Fixed typos
  README.md
Due: yaspeller-ci

Table of contents (#392)
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Clean up TOC
  README.md
Due: yaspeller-ci

Clean up docs
  README.md
Due: yaspeller-ci

Increase size limit
  package.json
Due: none

Add old Safari and Samsung to dead browsers
  index.js
Due: eslint

Document string support in package.json
  README.md
Due: yaspeller-ci

Add Firefox 68 to ESR
  index.js
Due: eslint

Fix tests
  index.js
  test/esr.test.js
Due: eslint

Release 4.6.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Remove android all hack
  index.js
Due: eslint

Update dependencies
  package.json
  test/cover.test.js
  test/release.test.js
  test/since.test.js
  test/years.test.js
  yarn.lock
Due: eslint

Add Samsung 4 to dead browsers
  README.md
Due: yaspeller-ci

Release 4.6.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Remove Safari from dead browsers
  index.js
Due: eslint

Release 4.6.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add new tool
  README.md
Due: yaspeller-ci

Improve custom statistics text
  README.md
Due: yaspeller-ci

Remove oneline demo
  README.md
Due: yaspeller-ci

readme typo
  README.md
Due: yaspeller-ci

readme typo (#401)
  README.md
Due: yaspeller-ci

Add missed section to TOC
  README.md
Due: yaspeller-ci

Move benchmark to test/ dir
  .npmignore
  test/benchmark/one/app/css/hello.css
  test/benchmark/one/package.json
  test/benchmark/run.js
  test/benchmark/three/app/js/hello.js
  test/benchmark/two/app/js/hello.js
  test/benchmark/two/browserslist
Due: eslint

Update dependencies
  package.json
  test/and.test.js
  test/benchmark/run.js
  test/browser.test.js
  test/cache.test.js
  test/cli.test.js
  test/config.test.js
  test/country.test.js
  test/cover.test.js
  test/coverage.test.js
  test/custom.test.js
  test/dead.test.js
  test/defaults.test.js
  test/direct.test.js
  test/electron.test.js
  test/error.test.js
  test/esr.test.js
  test/extends.test.js
  test/global.test.js
  test/last.test.js
  test/main.test.js
  test/major.test.js
  test/node.test.js
  test/opera.test.js
  test/range.test.js
  test/release.test.js
  test/since.test.js
  test/unreleased.test.js
  test/versions.test.js
  test/webpack.test.js
  test/years.test.js
  yarn.lock
Due: eslint

Remove comments
  index.js
Due: eslint

Remove private JSDoc
  index.js
Due: eslint

Add sharec
  .gitignore
  .npmignore
  package.json
  yarn.lock
Due: none

Remove unnecessary script
  package.json
Due: none

Add PhantomJS support
  README.md
  index.js
  package.json
  test/phantomjs.test.js
Due: yaspeller-ci, eslint

Release 4.7 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add Open Collective
  .github/FUNDING.yml
Due: none

update `caniuse-lite` package to its latest version
  package.json
  yarn.lock
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
