Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Make tests more stable
  test/shareable-stats.test.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.8.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Some grammar fixes
  README.md
Due: yaspeller-ci

Some grammar fixes (#442)
  README.md
Due: yaspeller-ci

FIx unknown 10 version of op_mini issue
  index.js
  test/direct.test.js
Due: eslint

Release 4.8.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

fix last N major versions with non-sequential version numbers
  index.js
  test/major.test.js
Due: eslint

fix last N major versions with non-sequential version numbers (#448)
  index.js
  test/major.test.js
Due: eslint

Release 4.8.7 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

docs(readme): add adobe-analytics tool
  README.md
Due: yaspeller-ci

docs(readme): add adobe-analytics tool (#451)
  README.md
Due: yaspeller-ci

Add the --update-db flag
  cli.js
  node.js
  package.json
  test/release.test.js
  updater.js
  yarn.lock
Due: eslint

Clean up code
  package.json
  updater.js
  yarn.lock
Due: eslint

Clean up code
  updater.js
Due: eslint

Fix checking package name
  updater.js
Due: eslint

test: add tests of range syntax for node
  test/node.test.js
Due: eslint

feat: add support of range syntax for node
  index.js
Due: eslint

docs: add copyright information
  LICENSE
Due: none

test: improve test coverage of error handling for node
  test/node.test.js
Due: eslint

Remove constant 'unknown version'
  updater.js
Due: eslint

feat: add support of range syntax for node (#454)
  LICENSE
  index.js
  test/node.test.js
Due: eslint

Add jest-ci
  package.json
  yarn.lock
Due: none

Release 4.9 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

fix: workaround incorrect caniuse regional data
  index.js
  node.js
  test/country.test.js
Due: eslint

refactor: remove uneccessary guards
  node.js
Due: eslint

Workaround incorrect caniuse regional data (#458)
  index.js
  node.js
  test/country.test.js
Due: eslint

Release 4.9.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Docs: fix typo in README
  README.md
Due: yaspeller-ci

Docs: fix typo in README (#459)
  README.md
Due: yaspeller-ci

Added pkg-up package
  yarn.lock
Due: none

Added --update-db command to help, created updateDB function
  cli.js
  updateDB.js
Due: eslint

Fixed release test
  test/release.test.js
Due: eslint

Update caniuse-lite with npm (no test)
  updateDB.js
Due: eslint

Fixed error messages
  updateDB.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
