Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Remove VSCode config
  .vscode/settings.json
Due: none

Update README.md
  README.md
Due: yaspeller-ci

Add titles to query groups
  README.md
Due: yaspeller-ci

Fix query group title styles
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Fix tests
  test/release.test.ts
Due: none

fix typo
  README.md
Due: yaspeller-ci

fix typo (#604)
  README.md
Due: yaspeller-ci

add guard for empty data argument in normalizeStats function
  node.js
Due: eslint

fix lint
  node.js
Due: eslint

fix: add guard for empty data argument in normalizeStats function (#608)
  node.js
Due: eslint

browserslist updating warning: remove empty line
  node.js
Due: eslint

browserslist updating warning: remove empty line (release.test.ts)
  test/release.test.ts
Due: none

comply with lint 80 max
  node.js
Due: eslint

spacing
  node.js
Due: eslint

comply with lint 80 max
  test/release.test.ts
Due: none

browserslist updating warning: remove empty line (#612)
  node.js
  test/release.test.ts
Due: eslint

Clean up code
  node.js
Due: eslint

Release 4.16.7 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update Firefox EST version
  index.js
Due: eslint

Release 4.16.8 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

docs: add new tool to README
  README.md
Due: yaspeller-ci

docs: add new tool to README (#615)
  README.md
Due: yaspeller-ci

update-db: added detectLockfileVersion method
  update-db.js
Due: eslint

update-db: migrated code to updatePackageManually method
  update-db.js
Due: eslint

update-db: fixed getLatestInfo for yarn v2
  update-db.js
Due: eslint

update-db: updated test for yarn v2 lockfile
  test/fixtures/update-yarn-v2/package.json
  test/fixtures/update-yarn-v2/yarn.lock
  test/update-db.test.js
Due: eslint

updated .gitignore to ignore .yarn directory
  .gitignore
Due: none

update-db: do not run yarn v2 tests on node 8, 10
  test/update-db.test.js
Due: eslint

fix: browserslist --update-db for yarn v2+ lockfile (#619)
  .gitignore
  test/fixtures/update-yarn-v2/package.json
  test/fixtures/update-yarn-v2/yarn.lock
  test/update-db.test.js
  update-db.js
Due: eslint

Clean up code
  test/update-db.test.js
  update-db.js
Due: eslint

Fix Yarn 2 update
  update-db.js
Due: eslint

Release 4.17 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Improved mobileToDesktop docs
  README.md
Due: yaspeller-ci

Use nanocolors instead of colorette
  package.json
  update-db.js
  yarn.lock
Due: eslint

Replace colorette to nanocolors
  package.json
  yarn.lock
Due: none
