Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Add --json to CLI
  cli.js
  test/cli.test.js
Due: eslint

Release 4.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

Fix bbest practices
  README.md
Due: yaspeller-ci

Update node-releases to latest version
  package.json
  yarn.lock
Due: none

Update node-releases to latest version (#305)
  package.json
  yarn.lock
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.2.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Added new keyword "all" to match all browser versions
  README.md
  index.js
  test/all.test.js
Due: yaspeller-ci, eslint

Update node.js (#285)
  node.js
Due: eslint

Improve extends query tests
  test/extends.test.js
Due: eslint

Release 4.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Normalize custom statistics to Can I Use tricks
  index.js
  node.js
  test/custom.test.js
  test/fixtures/android-stats.json
Due: eslint

Release 4.3.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update index.js
  index.js
Due: eslint

jsEOL version check
  index.js
Due: eslint

jsEOL version check (#312)
  index.js
Due: eslint

Clean up code
  index.js
Due: eslint

Release 4.3.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix size limit
  package.json
Due: none

Release 4.3.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add Node 10 to Travis CI
  .travis.yml
Due: none

Update Node.js version in AppVeyor
  appveyor.yml
Due: none

Clean up AppVeyor config
  appveyor.yml
Due: none

Release 4.3.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

merged with master
  .travis.yml
  CHANGELOG.md
  README.md
  appveyor.yml
  browser.js
  cli.js
  index.js
  node.js
  package.json
  test/cli.test.js
  test/custom.test.js
  test/electron.test.js
  test/esr.test.js
  test/extends.test.js
  test/fixtures/android-stats.json
  test/node.test.js
  test/webpack.test.js
  yarn.lock
Due: yaspeller-ci, eslint

temporary up size limit to allow new additions from upstream master
  package.json
Due: none

fix(README): adjust misleading best practice sentence
  README.md
Due: yaspeller-ci

fix(README): adjust misleading best practice sentence (#322)
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  test/config.test.js
  test/main.test.js
  test/release.test.js
  yarn.lock
Due: eslint

Fix more complex cases with version-less browser and not query
  index.js
  package.json
  test/main.test.js
Due: eslint

Release 4.3.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Electron queries resolve to both chrome and node versions, replaced electron-2-chromium with electron-releases, major and minor versions resolve to oldest concrete version (3 -> 3.0.0, 1.1 -> 1.1.0).
  index.js
  package.json
  test/electron.test.js
  yarn.lock
Due: eslint

Changed electron-releases to be a devDependency and generated e2cn.js via npm run importdata to reducce the package size penalty.
  .npmignore
  e2cn.json
  index.js
  package.json
  scripts/importElectronReleases.js
  yarn.lock
Due: eslint
