Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Improve browsers diffing
  update-db.js
Due: eslint

Add --ignore-workspace-root-check to yarn add and remove commands in update-db (#553)
  test/fixtures/update-yarn-workspaces/package.json
  test/fixtures/update-yarn-workspaces/yarn.lock
  test/update-db.test.js
  update-db.js
Due: eslint

Implement target browser changes (#554)
  test/fixtures/browserslist-diff-error/package-lock.json
  test/fixtures/browserslist-diff-error/package.json
  test/fixtures/browserslist-diff/package-lock.json
  test/fixtures/browserslist-diff/package.json
  test/update-db.test.js
  update-db.js
Due: eslint

Fix tests
  test/update-db.test.js
Due: eslint

Add color output
  package.json
  test/update-db.test.js
  update-db.js
Due: eslint

Speed up Node.js 8 test
  .github/workflows/test.yml
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.14.7 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Throw error on missing environment
  node.js
  test/main.test.js
Due: eslint

Add syntax higlight extension link to the docs
  README.md
Due: yaspeller-ci

Move extension info to the tools section
  README.md
Due: yaspeller-ci

Return removed line
  README.md
Due: yaspeller-ci

Fix typo caiuse-lite is caniuse-lite
  README.md
Due: yaspeller-ci

Fix typo caiuse-lite is caniuse-lite (#563)
  README.md
Due: yaspeller-ci

Add syntax highlight extension link to the docs (#561)
  README.md
Due: yaspeller-ci

Fix link
  README.md
Due: yaspeller-ci

Improve docs
  README.md
Due: yaspeller-ci

Remove Travis CI config
  .travis.yml
Due: none

CLean up types
  index.d.ts
Due: none

Update dependencies
  package.json
  test/cli.test.ts
  yarn.lock
Due: none

Release 4.15 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

docs: sub tools syntax highlighting section
  README.md
Due: yaspeller-ci

docs: sub tools syntax highlighting section (#568)
  README.md
Due: yaspeller-ci

Fix text editors section
  README.md
  package.json
Due: yaspeller-ci

Add `browserslist config` query
  README.md
  index.js
  test/config-query.test.ts
Due: yaspeller-ci, eslint

Release 4.16 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Improve `browserslist config` query docs
  README.md
Due: yaspeller-ci

Create failing test for and_chr/mobileToDesktop issue
  test/custom.test.ts
Due: none

Remove dangerousExtend option since it is rare case and could confuse users
  README.md
Due: yaspeller-ci

Apply fix
  node.js
Due: eslint

Fix chrome:4 issue when using --mobile-to-desktop (#572)
  node.js
  test/custom.test.ts
Due: eslint

Update dependendencies
  package.json
  yarn.lock
Due: none

Release 4.16.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Adding yarn test for skipping caniuse-lite update if the current version is the latest
  test/update-db.test.js
Due: eslint

Show "up to date" message in bold green text.
  update-db.js
Due: eslint

Bail out early from update-db script if the version of caniuse-lite is up to date
  test/update-db.test.js
  update-db.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
