Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Add explanation of and/or combinations in a human language. (#499)
  README.md
Due: yaspeller-ci

Clear text
  README.md
Due: yaspeller-ci

Clean up docs
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  yarn.lock
Due: none

Update package.json
  package.json
Due: none

Update .travis.yml
  .travis.yml
Due: none

docs: update `mobileToDesktop` documentation to match its behavior
  README.md
Due: yaspeller-ci

feat: add `semver` query to Node and Electron
  README.md
  browser.js
  index.js
  node.js
  package.json
  test/electron.test.js
  test/node.test.js
  test/webpack.test.js
Due: yaspeller-ci, eslint

feat: add project version query
  README.md
  browser.js
  index.js
  node.js
  test/cache.test.js
  test/config.test.js
  test/electron.test.js
  test/fixtures/package-deps/package.json
  test/fixtures/package.json
  test/node.test.js
  test/webpack.test.js
Due: yaspeller-ci, eslint

refactor: deduplicate getNodeVersions() and nameMapper('node')
  index.js
Due: eslint

feat: add normalizers
  README.md
  cli.js
  index.js
  package.json
  test/normalizer.test.js
Due: yaspeller-ci, eslint

feat: add `byEngine` and `toDesktop` normalizers
  README.md
  index.js
  test/normalizer.test.js
Due: yaspeller-ci, eslint

feat: add env var for BROWSERSLIST_DANGEROUSEXTEND
  node.js
Due: eslint

chore: update readme
  README.md
Due: yaspeller-ci

fix: cleanup readme
  README.md
Due: yaspeller-ci

Update README.md
  README.md
Due: yaspeller-ci

Fix: update env var name
  node.js
Due: eslint

Update node.js
  node.js
Due: eslint

chore: add test for BROWSERSLIST_DANGEROUS_EXTEND
  test/extends.test.js
Due: eslint

fix: nit
  test/extends.test.js
Due: eslint

chore: cleanup readme
  README.md
Due: yaspeller-ci

fix: dangerousextend check logic
  node.js
Due: eslint

feat: add BROWSERSLIST_DANGEROUSEXTEND env var (#517)
  README.md
  node.js
  test/extends.test.js
Due: yaspeller-ci, eslint

Fix docs
  README.md
Due: yaspeller-ci

Fix code style
  node.js
  test/extends.test.js
Due: eslint

Release 4.14 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Improve docs
  README.md
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

add example for all browsers to readme
  README.md
Due: yaspeller-ci

punctuation
  README.md
Due: yaspeller-ci

Update documentation and warning message for update-db script
  README.md
  node.js
  package.json
  test/release.test.js
Due: yaspeller-ci, eslint

Update documentation and warning message for update-db script (#526)
  README.md
  node.js
  package.json
  test/release.test.js
Due: yaspeller-ci, eslint

Update docs
  README.md
  node.js
  package.json
Due: yaspeller-ci, eslint

Fix test
  test/release.test.js
Due: eslint

Release 4.14.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Retain String.prototype.substring (ex. substr)
  index.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
