Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Update fs-extra
  package.json
  pnpm-lock.yaml
Due: none

Fix Android time queries with mobileToDesktop
  index.js
Due: eslint

Test equivalent queries for all browsers
  test/all.test.js
Due: eslint

Fix Android time queries with mobileToDesktop (#763)
  index.js
  test/all.test.js
Due: eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Add Node.js 20 to CI
  .github/workflows/test.yml
Due: none

Release 4.21.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix computation of last queries for Android
  index.js
  test/browser.test.js
  test/direct.test.js
  test/last.test.js
Due: eslint

Fix computation of last queries for Android (#765)
  index.js
  test/browser.test.js
  test/direct.test.js
  test/last.test.js
Due: eslint

Release 4.21.7 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix feature support queries with mobileToDesktop
  index.js
  node.js
  test/feature.test.js
Due: eslint

Update cache type
  index.d.ts
Due: none

Fix feature support queries with mobileToDesktop (#767)
  index.d.ts
  index.js
  node.js
  test/feature.test.js
Due: eslint

Update dependencies
  package.json
  pnpm-lock.yaml
  test/benchmark/run.js
Due: eslint

Release 4.21.8 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix invalid results for Opera Mobile
  index.js
  test/direct.test.js
  test/last.test.js
Due: eslint

Fix invalid results for Opera Mobile (#768)
  index.js
  test/direct.test.js
  test/last.test.js
Due: eslint

Release 4.21.9 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

use exact version to have reproducible builds
  package.json
Due: none

Update Firefox ESR versions
  index.js
Due: eslint

Run tests in parallel
  package.json
Due: none

Release 4.21.10 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add `fully supports` query
  README.md
  index.js
  test/feature.test.js
Due: yaspeller-ci, eslint

Add `op_mini` to table in README
  README.md
Due: yaspeller-ci

Add `op_mini` to table in README (#790)
  README.md
Due: yaspeller-ci

add --update-db key to the usage hint
  cli.js
Due: eslint

add --update-db depracation hint
  cli.js
Due: eslint

Add update-browserslist-db mention on --update-db call and deprecation hint. (#791)
  cli.js
Due: eslint

Fix coverage
  cli.js
Due: eslint

Update CI
  .github/workflows/test.yml
Due: none

Release 4.21.11 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add `partially supports` and update docs
  README.md
  index.js
  test/feature.test.js
Due: yaspeller-ci, eslint

Readme updates
  README.md
Due: yaspeller-ci

better partial support check
  index.js
Due: eslint

Add `fully supports` and `partially supports` queries (#787)
  README.md
  index.js
  test/feature.test.js
Due: yaspeller-ci, eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
