Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.0.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update README.md
  README.md
Due: yaspeller-ci

Update README.md (#288)
  README.md
Due: yaspeller-ci

Fix contributors section in docs
  README.md
Due: yaspeller-ci

Fix docs section padding
  README.md
Due: yaspeller-ci

Add current node query
  browser.js
  index.js
  node.js
  test/node.test.js
  test/webpack.test.js
Due: eslint

Add current node query to docs
  README.md
Due: yaspeller-ci

Release 4.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

added failing test for AND operator
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  index.js
  test/and.test.js
Due: eslint

get test coverage to 100%
  index.js
Due: eslint

new initial query marker
  index.js
  jon.parse2.js
  query.js
  test/and.test.js
Due: eslint

all tests pass
  index.js
  jon.parse2.js
  yarn.lock
Due: eslint

make it clear that you can write 'OR'/'or' instead of ','
  index.js
Due: eslint

trim off 9bytes
  index.js
  package.json
Due: eslint

reduced fixture used for testing AND operator
  index.js
  test/and.test.js
Due: eslint

The project policy is to keep text editor ignores in local .git/info/exclude
  .gitignore
Due: none

It is OK to just set "limit": "8.8 KB"
  package.json
Due: none

added comments about the difference in filtering
  .vscode/launch.json
  .vscode/settings.json
  index.js
Due: eslint

Update Firefox ESR
  index.js
  test/esr.test.js
Due: eslint

Release 4.1.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Moving package.json query to the top
  README.md
Due: yaspeller-ci

Fixing numbers in Queries section in README
  README.md
Due: yaspeller-ci

Moving package.json query to the top of the queries list (#294)
  README.md
Due: yaspeller-ci

Add --all CLI option
  CHANGELOG.md
  cli.js
  package.json
Due: yaspeller-ci, eslint

Same as last commit, just now with less stupidity
  cli.js
Due: eslint

Fix CI Issues
  cli.js
Due: eslint

Whitespace No More
  cli.js
Due: eslint

Update README.md (#299)
  README.md
Due: yaspeller-ci

Clean up Babel section
  README.md
Due: yaspeller-ci

Improve unkown query error message
  index.js
  test/cli.test.js
Due: eslint

Update dependencies
  package.json
  test/electron.test.js
  yarn.lock
Due: eslint

Release 4.1.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Allow to pass multiple areas to CLI --coverage
  cli.js
  test/cli.test.js
Due: eslint
