Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Fix Node.js 6 on Travis CI
  .travis.yml
Due: none

Clean up docs
  README.md
Due: yaspeller-ci

Clean up line breaks in docs
  README.md
Due: yaspeller-ci

Split paragraph
  README.md
Due: yaspeller-ci

Revert version change
  package.json
Due: none

Release 4.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

docs: add a tool using browserslist
  README.md
Due: yaspeller-ci

docs: add a tool using browserslist (#342)
  README.md
Due: yaspeller-ci

Relax validation when extending config from scoped packages
  node.js
  test/extends.test.js
Due: eslint

Relax validation when extending config from scoped packages (#343)
  node.js
  test/extends.test.js
Due: eslint

Release 4.4.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

add info about whitelisting to readme
  README.md
Due: yaspeller-ci

add info about whitelisting to readme (#349)
  README.md
Due: yaspeller-ci

Accept string as config property, fixes #347
  node.js
Due: eslint

Update node.js
  node.js
Due: eslint

Improve tests
  test/coverage.test.js
Due: eslint

Accept string as config property, fixes #347 (#352)
  node.js
Due: eslint

Improve test
  test/fixtures/package2/package.json
Due: none

Allow to have string in package.json instead of array
  node.js
  test/and.test.js
  test/config.test.js
Due: eslint

Release 4.4.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Wrote a failing test
  test/node.test.js
Due: eslint

Extracted repeated logic into its own function
  index.js
Due: eslint

Updated README to mention new feature
  README.md
Due: yaspeller-ci

Wrote implementation for node comparing version
  index.js
Due: eslint

Removed latest node version from test which didn't get added yet to browserlist
  test/node.test.js
Due: eslint

Fixed order of node versions
  test/node.test.js
Due: eslint

Support Node.js comparisons (#356)
  README.md
  index.js
  test/node.test.js
Due: yaspeller-ci, eslint

Release 4.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix outdated caniuse-lite warning
  node.js
  test/release.test.js
Due: eslint

Release 4.5.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix unexpected CLI behaviour
  cli.js
  test/cli.test.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
