Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Revert another whitespace change
  index.js
Due: eslint

updates baseline-browser-mapping to v2.8.0
  package.json
  pnpm-lock.yaml
Due: none

Fix code style
  .gitignore
  index.js
  test/baseline.test.js
Due: eslint

Keep the docs style persistant
  README.md
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

Fix link
  README.md
Due: yaspeller-ci

Update CI actions
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Release 4.26.0 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Move widely above since it is more popular
  README.md
Due: yaspeller-ci

Fix ESLint warning
  eslint.config.mjs
Due: none

Fix duplicate rules
  eslint.config.mjs
Due: none

Fix wording
  README.md
Due: yaspeller-ci

Update Firefox ESR
  index.js
Due: eslint

Release 4.26.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Ifx dependency
  package.json
  pnpm-lock.yaml
Due: none

Release 4.26.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix throwOnMissing on extends
  index.js
Due: eslint

Update dependencies
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Release 4.26.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add BROWSERSLIST_TRACE_WARNING env
  README.md
  node.js
Due: yaspeller-ci, eslint

Use vite in examples
  README.md
Due: yaspeller-ci

Release 4.27.0 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

docs: delete dead projects
  README.md
Due: yaspeller-ci

feat: allow esr alias in firefox version ranges
  index.js
  test/esr.test.js
Due: eslint

Update dependencies and add Multiocular to track changes
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: none

Release 4.28.0 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add browserslist-plausible link
  README.md
Due: yaspeller-ci

Add GitHub Actions workflow for npm package publishing
  .github/workflows/npm-publish-github-packages.yml
Due: none

Remove dead link
  README.md
Due: yaspeller-ci

docs: add more details on custom stats
  README.md
Due: yaspeller-ci

fix: prevent prototype pollution
  index.js
Due: eslint

Update dependencies
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  test/coverage.test.js
Due: eslint

Add oxfmt support
  .prettierrc.mjs
  eslint.config.mjs
  oxfmt.config.ts
  package.json
  pnpm-lock.yaml
Due: none

Process all files with oxfmt
  CHANGELOG.md
  README.md
  package.json
  pnpm-lock.yaml
  test/cli.test.js
  test/config-query.test.js
  test/config.test.js
  test/country.test.js
  test/esr.test.js
  test/fixtures/env-package/package.json
  test/fixtures/package/package.json
  test/release.test.js
Due: yaspeller-ci, eslint

Update email
  LICENSE
  package.json
Due: none
