Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Release 4.24.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update all.test.js
  test/all.test.js
Due: eslint

I need cloning
  package-lock.json
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Add custom stats support for cover query
  README.md
  index.js
  test/shareable-stats.test.js
Due: yaspeller-ci, eslint

Release 4.25.0 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update FF ESR
  index.js
Due: eslint

Release 4.25.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add Kinsta sponsor
  README.md
Due: yaspeller-ci

Clean old sponsor with broken website and fix dark theme
  README.md
Due: yaspeller-ci

Promote browserslist-config-baseline
  README.md
Due: yaspeller-ci

fix: handle ErrnoExceptions in isFile and isDirectory. fixes #899
  node.js
Due: eslint

chore: rm _
  node.js
Due: eslint

Pin and update CI actions
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Update Node.js on CI
  .github/workflows/test.yml
Due: none

fix: handle ErrnoExceptions in isFile() and isDirectory() (#900)
  node.js
Due: eslint

Fix test coverage check
  package.json
Due: none

Fix test coverage
  node.js
Due: eslint

Release 4.25.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix ReDoS
  index.js
Due: eslint

Update dependencies
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Release 4.25.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix loadStat creating a non-working module path on Windows
  node.js
Due: eslint

Add tool to update CI actions
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Release 4.25.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Basic logic that generates >= statements for each available browser
  grammar.w3c-ebnf
  index.js
  package-lock.json
  package.json
Due: eslint

Revert auto-formatting and update grammar
  grammar.w3c-ebnf
  index.js
Due: eslint

Updates README.md to include Baseline queries
  README.md
Due: yaspeller-ci

Remove package-lock.json
  package-lock.json
Due: none

Ignore package-lock.json
  .gitignore
Due: none

Update pnpm-lock.yaml with baseline-browser-mapping
  pnpm-lock.yaml
Due: none

Resolve query, revert .gitignore changes
  .gitignore
  index.js
Due: eslint

Apply suggestion from @ai
  README.md
Due: yaspeller-ci

Explain Baseline more in README.md, remove unneeded comments
  README.md
  index.js
Due: yaspeller-ci, eslint

Adds Baseline tests and removes unneeded comments
  index.js
  test/baseline.test.js
Due: eslint

Sets size limit to 30kB and baseline-browser-mapping version to 2.7.4
  package.json
  pnpm-lock.yaml
Due: none

Documents "widely available on YYYY-MM-DD" syntax and adds error for using it with newly available
  README.md
  index.js
  test/baseline.test.js
Due: yaspeller-ci, eslint
