Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Re-use single constant
  index.js
Due: eslint

Release 4.28.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add SECURITY.txt
  SECURITY.md
Due: yaspeller-ci

Fix theoretical prototype-polluting assignment
  node.js
Due: eslint

Move SECURITY.md to folder
  .npmignore
  docs/SECURITY.md
Due: yaspeller-ci

Create incident response docs
  docs/INCIDENT_RESPONSE.md
Due: yaspeller-ci

Add thread model
  docs/THREAD_MODEL.md
Due: yaspeller-ci

Typo
  docs/THREAT_MODEL.md
Due: yaspeller-ci

ci: run tests on Node 26
  .github/workflows/test.yml
Due: none

Fix: treat baseline newly/widely available keywords case-insensitively
  index.js
  test/baseline.test.js
Due: eslint

Update dependencies
  .github/workflows/release.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update release method
  .github/workflows/release.yml
  package.json
Due: none

Fix old pnpm on CI
  .github/workflows/test.yml
Due: none

Update local file
  pnpm-lock.yaml
Due: none

Avoid broken package.json in project
  test/config.test.js
  test/fixtures/broken/package.json
Due: eslint

Release 4.28.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Do not remove comments on publish
  .github/workflows/release.yml
Due: none

Release 4.28.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Move to public Dev Container
  .devcontainer.json
Due: none

Add public Dev Container
  .devcontainer.json
Due: none

Update CI
  .github/workflows/test.yml
Due: none

Typo
  .github/workflows/test.yml
Due: none

Unify
  .github/workflows/test.yml
Due: none

Remove duplicate
  .github/workflows/test.yml
Due: none

fix: exclude joined range when querying above its upper bound
  index.js
  test/versions.test.js
Due: eslint

Support query continuations across entries
  README.md
  parse.js
  test/continuation.test.js
Due: yaspeller-ci, eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Move from actions-up to pnpm
  package.json
  pnpm-lock.yaml
Due: none

Typo
  CHANGELOG.md
Due: yaspeller-ci

Release 4.29.0 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

change to "pnpm run unit"
  .github/workflows/test.yml
Due: none

fix uvu issue with globalThis by preloading it
  .github/workflows/test.yml
  package.json
Due: none

downgrade fs-extra to the last version that supported node 8
  package.json
Due: none

disable fail fast for testing
  .github/workflows/test.yml
Due: none

update pnpm-lock
  pnpm-lock.yaml
Due: none

use node8-compatible unlinkSync and rmdirSync instead of rmSync (node 14+)
  test/config.test.js
Due: eslint

revert fail-fast
  .github/workflows/test.yml
Due: none

Fix case-insensitive negation queries
  parse.js
  test/parse.test.js
Due: eslint

Combine negation case variants into one test
  test/parse.test.js
Due: eslint
