Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Create Sjenica1
  Sjenica1
Due: none

Typo
  cli.js
Due: eslint

Improve c8 reporter
  package.json
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Release 4.19.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update Firefox ESR versions
  index.js
Due: eslint

Update Firefox ESR versions (#669)
  index.js
Due: eslint

Release 4.19.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix stale links to caniuse branch (master -> main)
  README.md
Due: yaspeller-ci

Fix stale links to caniuse branch (master -> main) (#670)
  README.md
Due: yaspeller-ci

Add `last N node versions` (with major) support
  grammar.w3c-ebnf
  index.js
  test/node.test.js
Due: eslint

Update tests
  index.d.ts
  index.js
  test/node.test.js
Due: eslint

Update docs
  README.md
Due: yaspeller-ci

Add `last N node versions` (with major) support (#671)
  README.md
  grammar.w3c-ebnf
  index.d.ts
  index.js
  test/node.test.js
Due: yaspeller-ci, eslint

Release 4.20 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

feat: linter
  index.js
  linter.js
  parser.js
Due: eslint

feat: linter typings
  index.d.ts
  linter.d.ts
Due: none

test: linter tests
  linter.js
  test/linter.test.js
Due: eslint

ci: fix tests coverage
  test/lint.test.js
  test/linter.test.js
Due: eslint

feat: public linter api
  index.js
  linter.js
Due: eslint

ci: fix colors
  test/update-db/index.test.js
Due: eslint

chore: review fix
  index.d.ts
  index.js
  linter.js
  parser.js
Due: eslint

feat: calc relative coverage
  linter.js
Due: eslint

feat: lint cli
  cli.js
Due: eslint

test: 100% coverage
  cli.js
  linter.js
  package.json
  test/cli.test.js
  test/lint.test.js
  test/linter.test.js
Due: eslint

README: clarify relative complement
  README.md
Due: yaspeller-ci

README: clarify relative complement (#674)
  README.md
Due: yaspeller-ci

Update package.funding
  package.json
Due: none

Update CI config
  .github/workflows/test.yml
Due: none

Release 4.20.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix funding URL format
  package.json
Due: none

Release 4.20.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update LICENSE
  LICENSE
Due: none

Create browserslist
  dakgk/browserslist
Due: none

README: fix name for Edge on Android
  README.md
Due: yaspeller-ci

README: fix name for Edge on Android (#687)
  README.md
Due: yaspeller-ci

Update CI and dependencies
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Mark Baidu browser as dead
  index.js
Due: eslint
