Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.8 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Mention caniuse-lite in docs
  README.md
Due: yaspeller-ci

chore: exclude IE_Mob 11 on readme examples
  README.md
Due: yaspeller-ci

chore: exclude IE_Mob 11 on readme examples (#426)
  README.md
Due: yaspeller-ci

refactor mobileToDesktop
  index.js
Due: eslint

add more mobileToDesktop testcase
  test/direct.test.js
Due: eslint

remove unused context from normalizeVersion call
  index.js
Due: eslint

Support range queries when mobileToDesktop is true (#427)
  index.js
  test/direct.test.js
Due: eslint

fix: use chrome>=37 data for android
  index.js
  test/direct.test.js
Due: eslint

fix browser sorting
  index.js
  test/node.test.js
  test/range.test.js
Due: eslint

refactor: tune android browser versions regex
  index.js
Due: eslint

chore: refine testcase
  test/major.test.js
Due: eslint

add testcase
  test/major.test.js
Due: eslint

address review comments
  index.js
  test/range.test.js
Due: eslint

oops
  index.js
Due: eslint

Fix android queries (#428)
  index.js
  test/direct.test.js
  test/major.test.js
  test/node.test.js
  test/range.test.js
Due: eslint

Clean up code
  index.js
Due: eslint

Release 4.8.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix typo releaseData -> releaseDate
  index.js
Due: eslint

fix: defaults query should respect options
  index.js
  test/defaults.test.js
Due: eslint

Fix typo releaseData -> releaseDate (#429)
  index.js
Due: eslint

fix: defaults query should respect options (#430)
  index.js
  test/defaults.test.js
Due: eslint

Release 4.8.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add website to docs
  README.md
Due: yaspeller-ci

fix: grammar in "please run next command"
  node.js
  test/release.test.js
Due: eslint

fix: grammar in "please run next command" (#433)
  node.js
  test/release.test.js
Due: eslint

Release 4.8.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix CI
  .travis.yml
Due: none

Add IE 11 to dead browsers
  index.js
Due: eslint

Fix released browsers versions
  index.js
Due: eslint

Release 4.8.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Revert "Fix released browsers versions"
  index.js
Due: eslint

Revert "Fix released browsers versions" (#438)
  index.js
Due: eslint

Improve tests
  test/browser.test.js
Due: eslint
