Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Fix CI
  test/main.test.ts
Due: none

Update Nano Colors
  package.json
  yarn.lock
Due: none

Release 4.17.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Bumped caniuse-lite version
  package.json
  yarn.lock
Due: none

Bumped caniuse-lite version (#630)
  package.json
  yarn.lock
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Clean docs in npm package
  package.json
  yarn.lock
Due: none

Release 4.17.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Create Sjenica1
  Sjenica1
Due: none

Replace nanocolors to picocolors
  package.json
  update-db.js
  yarn.lock
Due: eslint

Release 4.17.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Typo
  CHANGELOG.md
Due: yaspeller-ci

Update CI config
  .github/workflows/test.yml
Due: none

Release 4.17.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update README.md
  README.md
Due: yaspeller-ci

Update README.md (#636)
  README.md
Due: yaspeller-ci

Try to fix pnpm use case
  update-db.js
Due: eslint

Another way to fix rare case
  update-db.js
Due: eslint

Add debug code for CI
  update-db.js
Due: eslint

Another debug
  update-db.js
Due: eslint

Try to fix CI
  update-db.js
Due: eslint

Removed debug code
  update-db.js
Due: eslint

Release 4.17.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

fix: check file path when resolving shared configs
  node.js
Due: eslint

fix: check file path when resolving shared configs (#638)
  node.js
Due: eslint

Add Node.js 17 to CI
  .github/workflows/test.yml
Due: none

Clean up dependencies
  package.json
  yarn.lock
Due: none

Fix CI job name
  .github/workflows/test.yml
Due: none

Test pnpm only on Node.js 17
  .github/workflows/test.yml
Due: none

Ignore pnpm test on missed pnpm on CI
  test/update-db.test.js
Due: eslint

Fix old Node.js version support
  test/main.test.js
Due: eslint

Move to Prettier and update ESLint config
  browser.js
  cli.js
  error.js
  index.d.ts
  index.js
  node.js
  package.json
  test/and.test.js
  test/cli.test.js
  test/coverage.test.js
  test/extends.test.js
  test/fixtures/android-stats.json
  test/fixtures/both1/package.json
  test/fixtures/both2/package.json
  test/release.test.js
  test/shareable-stats.test.js
  test/update-db.test.js
  test/years.test.js
  update-db.js
  yarn.lock
Due: eslint
