Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

อัพเดท
  package.json
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Fix since query
  index.js
  test/since.test.js
Due: eslint

Release 4.21.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add "since COVID" and "post-COVID" queries
  index.js
  test/covid.test.js
Due: eslint

Update Firefox ESR
  index.js
Due: eslint

Release 4.21.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add WebStorm plugin reference to README.md
  README.md
Due: yaspeller-ci

Add WebStorm plugin reference to README.md (#712)
  README.md
Due: yaspeller-ci

Fix typo in `throwOnMissing` description
  README.md
  index.d.ts
  test/main.test.js
Due: yaspeller-ci, eslint

Throw an error on wrong region name from Can I Use
  node.js
  test/country.test.js
Due: eslint

Throw an error on wrong feature name from Can I Use
  node.js
  test/feature.test.js
Due: eslint

Fix typo in `throwOnMissing` description (#713)
  README.md
  index.d.ts
  test/main.test.js
Due: yaspeller-ci, eslint

Throw errors on wrong feature and region names from Can I Use (#714)
  node.js
  test/country.test.js
  test/feature.test.js
Due: eslint

Release 4.21.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update browsersl.ist site URL
  README.md
Due: yaspeller-ci

Update browsersl.ist site URL (#717)
  README.md
Due: yaspeller-ci

Update README.md
  README.md
Due: yaspeller-ci

Update README.md (#718)
  README.md
Due: yaspeller-ci

Replace `IE 10` to `IE 11`
  README.md
Due: yaspeller-ci

Update `not IE 11` examples in README.md
  README.md
Due: yaspeller-ci

Update IE 11 examples (#719)
  README.md
Due: yaspeller-ci

Update project logo
  README.md
  img/logo.svg
Due: yaspeller-ci

Update logo
  logo.svg
Due: none

Update logo URL
  README.md
Due: yaspeller-ci

Move updaters to to specific category
  README.md
Due: yaspeller-ci

Fix section separation
  README.md
Due: yaspeller-ci

Add ProductHunt button
  README.md
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

Remove banner
  README.md
Due: yaspeller-ci

Update test.yml
  .github/workflows/test.yml
Due: none

Update test.yml (#723)
  .github/workflows/test.yml
Due: none

Clean up CI config
  .github/workflows/test.yml
Due: none

Try to remove force colors
  .github/workflows/test.yml
Due: none

Update README with browsersl.ist demo
  README.md
Due: yaspeller-ci

Fix
  README.md
Due: yaspeller-ci
