Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Fix patch
  index.js
Due: eslint

Mark Baidu browser as dead (#688)
  index.js
Due: eslint

Release 4.20.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Mark Baidu browser as dead in README
  README.md
Due: yaspeller-ci

Mark Baidu browser as dead in README (#689)
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Try to fix CI
  .github/workflows/test.yml
Due: none

exclude unreleased versions if `mobileToDesktop` enabled
  index.js
  test/last.test.js
Due: eslint

exclude unreleased versions if `mobileToDesktop` enabled (#697)
  index.js
  test/last.test.js
Due: eslint

Release 4.20.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Mark ie 11 as dead
  index.js
Due: eslint

Add IE 11 as dead
  README.md
Due: yaspeller-ci

feat: linter (#672)
  cli.js
  index.d.ts
  index.js
  linter.d.ts
  linter.js
  package.json
  parser.js
  test/cli.test.js
  test/lint.test.js
  test/linter.test.js
  test/update-db/index.test.js
Due: eslint

Fix size limit
  package.json
Due: none

Move linter to separated project
  cli.js
  index.d.ts
  index.js
  linter.d.ts
  linter.js
  package.json
  parser.js
  test/cli.test.js
  test/lint.test.js
  test/linter.test.js
Due: eslint

Add AST for quieries
  index.d.ts
  index.js
  parse.js
  parser.js
  test/custom.test.js
  test/major.test.js
  test/node.test.js
  test/parse.test.js
  test/versions.test.js
Due: eslint

Add TSDoc
  index.d.ts
Due: none

Move JSDoc to TSDoc
  index.js
Due: eslint

Add link to browserslist-update-action
  README.md
Due: yaspeller-ci

Add missing URL to browserslist-update-action
  README.md
Due: yaspeller-ci

Add missing URL to browserslist-update-action (#702)
  README.md
Due: yaspeller-ci

Add Browserslist Lint to tools
  README.md
Due: yaspeller-ci

Split Tools section
  README.md
Due: yaspeller-ci

Move update DB script to another project
  .github/workflows/test.yml
  cli.js
  node.js
  package.json
  pnpm-lock.yaml
  test/fixtures/browserslist-diff-error/package-lock.json
  test/fixtures/browserslist-diff-error/package.json
  test/fixtures/browserslist-diff/package-lock.json
  test/fixtures/browserslist-diff/package.json
  test/fixtures/update-missing/package-lock.json
  test/fixtures/update-missing/package.json
  test/fixtures/update-npm-shrinkwrap/npm-shrinkwrap.json
  test/fixtures/update-npm-shrinkwrap/package.json
  test/fixtures/update-npm/package-lock.json
  test/fixtures/update-npm/package.json
  test/fixtures/update-pnpm/package.json
  test/fixtures/update-pnpm/pnpm-lock.yaml
  test/fixtures/update-yarn-v2/package.json
  test/fixtures/update-yarn-v2/yarn.lock
  test/fixtures/update-yarn-without-integrity/package.json
  test/fixtures/update-yarn-without-integrity/yarn.lock
  test/fixtures/update-yarn-workspaces/package.json
  test/fixtures/update-yarn-workspaces/yarn.lock
  test/fixtures/update-yarn/package.json
  test/fixtures/update-yarn/yarn.lock
  test/release.test.js
  test/since.test.js
  test/update-db/index.test.js
  update-db.js
Due: eslint

Update update-db docs
  README.md
  node.js
Due: yaspeller-ci, eslint

Fix docs
  test/release.test.js
Due: eslint

Add update tool to list
  README.md
Due: yaspeller-ci

Mark Internet Explorer as dead (#701)
  README.md
  index.js
Due: yaspeller-ci, eslint

Fix reading package.json with Unicode BOM
  node.js
Due: eslint

Use released update-browserslist-db version
  package.json
  pnpm-lock.yaml
Due: none

Fix ChangeLog style
  CHANGELOG.md
Due: yaspeller-ci

Release 4.21 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Improve tools note
  README.md
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

เพิ่ม
  goitf/package.json
Due: none

Create package.json
  package.json
Due: none
