Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Simplify code
  index.js
Due: eslint

Release 4.23.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

add support for baseline queries
  index.js
  test/baseline.test.js
Due: eslint

add entries of safari minor versioning
  test/baseline.test.js
Due: eslint

apply fixes
  grammar.w3c-ebnf
  index.js
  test/baseline.test.js
Due: eslint

Update Firefox ESR
  index.js
Due: eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Release 4.23.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

fix: browser ray gt or gte compare with latest version
  index.js
  test/versions.test.js
Due: eslint

fix: browser ray gt or gte compare with latest version (#836)
  index.js
  test/versions.test.js
Due: eslint

Release 4.32.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

feat: extract and expose findConfigFile
  browser.js
  index.d.ts
  index.js
  node.js
  test/config.test.js
Due: eslint

refactor: add parsePackageOrReadConfig
  node.js
Due: eslint

Introduce `browserslist.findConfigFile` API (#844)
  browser.js
  index.d.ts
  index.js
  node.js
  test/config.test.js
Due: eslint

Fix code style
  node.js
Due: eslint

Sort imports and declarations
  cli.js
  index.js
  node.js
  parse.js
  test/and.test.js
  test/cache.test.js
  test/cli.test.js
  test/config-query.test.js
  test/config.test.js
  test/cover.test.js
  test/coverage.test.js
  test/custom.test.js
  test/extends.test.js
  test/main.test.js
  test/release.test.js
  test/shareable-stats.test.js
Due: eslint

Update dependencies
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: none

Release 4.24.0 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Improve JS API docs
  README.md
  index.d.ts
Due: yaspeller-ci

Show how to use browserslist.defaults
  README.md
  index.d.ts
Due: yaspeller-ci

improved oldDataWarning message
  node.js
Due: eslint

Update warning with month elapsed
  node.js
  test/release.test.js
Due: eslint

Updated oldDataWarning function to display how many months old caniuse-lite is.
  node.js
  test/release.test.js
Due: eslint

Add warning for outdated caniuse-lite with update time indication and add a test
  node.js
  test/release.test.js
Due: eslint

Add halfYearAgo check
  node.js
Due: eslint

Remove duplicate time
  node.js
Due: eslint

Fix: Use plural form for 'month' when appropriate.
  node.js
  test/release.test.js
Due: eslint

Remove TIME_TO_UPDATE_CANIUSE
  node.js
Due: eslint

Updated oldDataWarning function to display how many months old caniuse-lite is. (#849)
  node.js
  test/release.test.js
Due: eslint

Update dependencies and Node.js version on CI
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Release 4.24.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

More clear warning text
  node.js
Due: eslint

Release 4.24.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix typo in README
  README.md
Due: yaspeller-ci

Fix typo in README (#853)
  README.md
Due: yaspeller-ci

Create jp.js
  jp.js
Due: eslint

Update Firefox ESR versions
  index.js
Due: eslint

Update Firefox ESR versions (#858)
  index.js
Due: eslint
