Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

update `caniuse-lite` package to its latest version (#416)
  package.json
  yarn.lock
Due: none

Improve caching
  node.js
Due: eslint

Update Node.jss versions on Travis CI
  .travis.yml
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.7.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

add core-js to the list of Browserslist users
  README.md
Due: yaspeller-ci

add core-js to the list of Browserslist users (#418)
  README.md
Due: yaspeller-ci

More direct link to Core JS usage
  README.md
Due: yaspeller-ci

Remove core-js since it is not loading config
  README.md
Due: yaspeller-ci

Look for cached config in each parent folder
  node.js
Due: eslint

Look for cached config in each parent folder (#419)
  node.js
Due: eslint

Improve Firefox ESR test
  test/esr.test.js
Due: eslint

Update Firefox ESR versions
  index.js
Due: eslint

Sort after removing dublicates
  index.js
Due: eslint

Clean up syntax
  node.js
Due: eslint

Fix syntax
  node.js
Due: eslint

Add query resolving cache
  index.js
Due: eslint

Increase size limit
  package.json
Due: none

Update dependencies
  .travis.yml
  package.json
  yarn.lock
Due: none

Release 4.7.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add missed changes to change log
  CHANGELOG.md
Due: yaspeller-ci

Add extra feature to latest release notes
  CHANGELOG.md
Due: yaspeller-ci

Add Tidelift funding
  package.json
Due: none

Clean up tests
  test/config.test.js
  test/country.test.js
  test/cover.test.js
  test/coverage.test.js
  test/custom.test.js
  test/direct.test.js
  test/electron.test.js
  test/esr.test.js
  test/extends.test.js
  test/main.test.js
  test/node.test.js
  test/range.test.js
  test/versions.test.js
  test/webpack.test.js
Due: eslint

Release 4.7.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add shareable stats rule
  index.js
  node.js
Due: eslint

Add shareable stats tests
  test/shareable-stats.test.js
Due: eslint

Add shareable stats to README
  README.md
Due: yaspeller-ci

Update testing for better coverage
  test/shareable-stats.test.js
Due: eslint

change most prominent example to be more like listed best practice
  README.md
Due: yaspeller-ci

change main example to defaults and rewrite best practices to explain why to combine last N versions with a usage number
  README.md
Due: yaspeller-ci

re-add maintained node versions to main example
  README.md
Due: yaspeller-ci

change main example to inherit from defaults and showcase some other useful settings
  README.md
Due: yaspeller-ci

change most prominent example to be more like listed best practice (#425)
  README.md
Due: yaspeller-ci

Fix 80 column limit
  README.md
Due: yaspeller-ci

Add shareable stats rule (#424)
  README.md
  index.js
  node.js
  test/shareable-stats.test.js
Due: yaspeller-ci, eslint

Normalize code
  node.js
Due: eslint

Clean up RegExps
  index.js
  node.js
Due: eslint
