Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Speed up CI
  .github/workflows/test.yml
  test/update-db/index.test.js
Due: eslint

Run update-db only on latest Node.js
  .github/workflows/test.yml
Due: none

Update npm lockfiles to speed up CI
  test/fixtures/browserslist-diff-error/package-lock.json
  test/fixtures/browserslist-diff/package-lock.json
  test/fixtures/update-missing/package-lock.json
  test/fixtures/update-npm-shrinkwrap/npm-shrinkwrap.json
  test/fixtures/update-npm/package-lock.json
Due: none

Release 4.17.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add `--ignore-unknown-versions` CLI option
  cli.js
Due: eslint

Add `--ignore-unknown-versions` CLI option (#645)
  cli.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.18 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix edge case of `since` query (fix #646)
  index.js
  test/since.test.js
Due: eslint

Make `cover` query case-insensitive
  index.js
  test/cover.test.js
Due: eslint

Make `cover` query case-insensitive (#648)
  index.js
  test/cover.test.js
Due: eslint

Fix edge case of `since` query (fix #646) (#647)
  index.js
  test/since.test.js
Due: eslint

Update dependencies
  yarn.lock
Due: none

Release 4.18.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

docs(readme): improve browser name => device mapping
  README.md
Due: yaspeller-ci

docs(readme): improve browser name => device mapping (#649)
  README.md
Due: yaspeller-ci

Improve browsers table
  README.md
Due: yaspeller-ci

Fix table lines
  README.md
Due: yaspeller-ci

Fix browser name
  README.md
Due: yaspeller-ci

Clean up notes
  README.md
Due: yaspeller-ci

Make it shorter
  README.md
Due: yaspeller-ci

Fix numbers
  README.md
Due: yaspeller-ci

Capitalize
  README.md
Due: yaspeller-ci

Reduce node_modules by updating Size Limit
  package.json
  yarn.lock
Due: none

Try to fix Node.js 8 CI
  .github/workflows/test.yml
Due: none

Add "browserslist-rs"
  README.md
Due: yaspeller-ci

Add "browserslist-rs" (#650)
  README.md
Due: yaspeller-ci

Move Rust port above
  README.md
Due: yaspeller-ci

Improve update-db docs
  README.md
Due: yaspeller-ci

Clean up docs
  README.md
Due: yaspeller-ci

Migrate from Jest to Uvu
  .github/workflows/test.yml
  cli.js
  package.json
  test/and.test.js
  test/browser.test.js
  test/cache.test.js
  test/cli.test.js
  test/config-query.test.js
  test/config.test.js
  test/country.test.js
  test/cover.test.js
  test/coverage.test.js
  test/custom.test.js
  test/dead.test.js
  test/defaults.test.js
  test/direct.test.js
  test/electron.test.js
  test/error.test.js
  test/esr.test.js
  test/extends.test.js
  test/feature.test.js
  test/global.test.js
  test/last.test.js
  test/main.test.js
  test/major.test.js
  test/node.test.js
  test/opera.test.js
  test/phantomjs.test.js
  test/range.test.js
  test/release.test.js
  test/shareable-stats.test.js
  test/since.test.js
  test/unreleased.test.js
  test/update-db/index.test.js
  test/utils/index.js
  test/versions.test.js
  test/webpack.test.js
  test/years.test.js
  update-db.js
  yarn.lock
Due: eslint

Migrate from Jest to Uvu (#653)
  .github/workflows/test.yml
  cli.js
  package.json
  test/and.test.js
  test/browser.test.js
  test/cache.test.js
  test/cli.test.js
  test/config-query.test.js
  test/config.test.js
  test/country.test.js
  test/cover.test.js
  test/coverage.test.js
  test/custom.test.js
  test/dead.test.js
  test/defaults.test.js
  test/direct.test.js
  test/electron.test.js
  test/error.test.js
  test/esr.test.js
  test/extends.test.js
  test/feature.test.js
  test/global.test.js
  test/last.test.js
  test/main.test.js
  test/major.test.js
  test/node.test.js
  test/opera.test.js
  test/phantomjs.test.js
  test/range.test.js
  test/release.test.js
  test/shareable-stats.test.js
  test/since.test.js
  test/unreleased.test.js
  test/update-db/index.test.js
  test/utils/index.js
  test/versions.test.js
  test/webpack.test.js
  test/years.test.js
  update-db.js
  yarn.lock
Due: eslint

Disable timeout
  test/update-db/index.test.js
  test/utils/index.js
Due: eslint

Use nanospy
  package.json
  test/main.test.js
  test/release.test.js
  test/utils/index.js
  yarn.lock
Due: eslint

Avoid update-db test on old Node.js versions
  .github/workflows/test.yml
  package.json
Due: none

Move from Yarn to pnpm
  .github/workflows/test.yml
  .gitignore
  .npmignore
  package.json
  pnpm-lock.yaml
  update-db.js
  yarn.lock
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
