Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Make percentage and supports queries case-insensitive
  index.js
  test/country.test.js
  test/custom.test.js
  test/feature.test.js
  test/shareable-stats.test.js
Due: eslint

cleanup: Use common function to filter versions by usage predicate
  index.js
Due: eslint

cleanup: Combine equivalent `not`/`and not` logic; implement `and` as opposite of `not`
  index.js
Due: eslint

Fix config loading protection for Windows
  node.js
  test/extends.test.js
Due: eslint

Update dependencies
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: none

Release 4.29.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add missed changes to ChangeLog
  CHANGELOG.md
Due: yaspeller-ci

Note that Android version queries return only the latest version
  README.md
Due: yaspeller-ci

Do not add versions without usage data to cover queries
  index.js
  test/cover.test.js
Due: eslint

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Release 4.29.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update Firefox ESR
  index.js
Due: eslint

Release 4.29.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Allow arbitrary whitespaces in since, extends, config and not queries
  grammar.w3c-ebnf
  index.js
  parse.js
  test/config-query.test.js
  test/extends.test.js
  test/parse.test.js
  test/since.test.js
Due: eslint

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
