Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Release 4.10 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

feat: add mobileToDesktop option to CLI
  cli.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

feat: add mobileToDesktop option to CLI (#462)
  cli.js
Due: eslint

Remove -m argument alias
  cli.js
Due: eslint

Normalize arg name
  cli.js
Due: eslint

Release 4.11 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Use latest Browserslist in --update-db
  node.js
Due: eslint

Simplify warning
  node.js
  test/release.test.js
Due: eslint

Allow to not have pnpm to run tests
  test/update-db.test.js
  update-db.js
Due: eslint

Update dependencies
  package.json
  test/update-db.test.js
  yarn.lock
Due: eslint

Downgrade pkg-up for Node.js 6 support
  package.json
  yarn.lock
Due: none

Release 4.11.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Increase test timeout
  test/update-db.test.js
Due: eslint

Add Tidelift enterprise language
  README.md
Due: yaspeller-ci

Add Tidelift enterprise language (#467)
  README.md
Due: yaspeller-ci

Fix TOC
  README.md
  package.json
Due: yaspeller-ci

chore: Update dependencies
  .travis.yml
  package.json
  yarn.lock
Due: none

✨ shareable: env support
  index.js
  node.js
  test/extends.test.js
Due: eslint

Add keywords: safe, unsafe, balanced
  README.md
  index.js
  test/balanced.test.js
  test/safe.test.js
  test/unsafe.test.js
Due: yaspeller-ci, eslint

(md) fix: readme dead IE_Mob 11
  README.md
Due: yaspeller-ci

(md) fix: readme dead IE_Mob 11 (#477)
  README.md
Due: yaspeller-ci

♻️ sharable env: check typeof instead constructor
  node.js
Due: eslint

✅ sharable env: test for initial defaults
  test/extends.test.js
Due: eslint

✅ shareable env: more stable tests
  test/extends.test.js
Due: eslint

✅ sharaable env: test for nullable config
  test/extends.test.js
Due: eslint

Add some details on combiners for documentation
  README.md
Due: yaspeller-ci

✨ shareable: env support (#474)
  index.js
  node.js
  test/extends.test.js
Due: eslint

Clean up code
  node.js
  test/extends.test.js
Due: eslint

Do not run pnpm test on Node.js 8
  package.json
  test/update-db.test.js
  yarn.lock
Due: eslint

Do not run pnmp test only on Node.js 8
  package.json
  test/update-db.test.js
  yarn.lock
Due: eslint

Fix if
  test/update-db.test.js
Due: eslint

Tell about enironments in shared configs
  README.md
Due: yaspeller-ci

fix typo - line length
  README.md
Due: yaspeller-ci

Add some details on combiners for documentation (#478)
  README.md
Due: yaspeller-ci

Release 4.12 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Upgrade electron-to-chromium
  package.json
  yarn.lock
Due: none

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
