Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Update README with browsersl.ist demo (#725)
  README.md
Due: yaspeller-ci

Clean up website menition
  README.md
Due: yaspeller-ci

Fix links
  README.md
Due: yaspeller-ci

Simplify intro
  README.md
Due: yaspeller-ci

Add website screenshot
  README.md
  img/screenshot.webp
Due: yaspeller-ci

Update docs
  README.md
Due: yaspeller-ci

Fix banners align
  README.md
Due: yaspeller-ci

Update configs
  README.md
Due: yaspeller-ci

Move legacy section to bottom
  README.md
Due: yaspeller-ci

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

docs: include BROWSERSLIST_IGNORE_OLD_DATA in the README
  README.md
Due: yaspeller-ci

Fix links of `postcss-preset-env` and `postcss-normalize`
  README.md
Due: yaspeller-ci

Fix links of `postcss-preset-env` and `postcss-normalize` (#729)
  README.md
Due: yaspeller-ci

Update Firefox ESR
  index.js
Due: eslint

Fix size limit
  package.json
Due: none

Release 4.21.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Remove IE 11 from docs
  README.md
Due: yaspeller-ci

Update docs
  package.json
  pnpm-lock.yaml
Due: none

Update docs (#731)
  README.md
Due: yaspeller-ci

Add Node.js 19 to CI
  .github/workflows/test.yml
Due: none

Fix tests
  test/and.test.js
  test/main.test.js
Due: eslint

feat: make recommended defaults easier to copy
  README.md
Due: yaspeller-ci

feat: make recommended defaults easier to copy (#739)
  README.md
Due: yaspeller-ci

Fix browser support
  browser.js
  index.js
  node.js
Due: eslint

Release 4.21.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add note about op_mini all
  README.md
Due: yaspeller-ci

Add SN sponsor to docs
  README.md
Due: yaspeller-ci

Fix link
  README.md
Due: yaspeller-ci

Add funding option
  .github/FUNDING.yml
  package.json
Due: none

Add detailed explanation for Opera Mini (`op_mini`)
  README.md
Due: yaspeller-ci

Break lines
  README.md
Due: yaspeller-ci

Add detailed explanation for Opera Mini target (`op_mini`) (#754)
  README.md
Due: yaspeller-ci

Lock pnpm on CI
  .github/workflows/test.yml
Due: none

Move to pnpm 8
  pnpm-lock.yaml
Due: none
