Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Node.js versions support (#253)
  index.js
  package.json
  test/node.test.js
  yarn.lock
Due: eslint

Fix size limit
  .size-limit
Due: none

Clean up code
  .size-limit
  index.js
  test/node.test.js
Due: eslint

Fix dead query tests
  test/dead.test.js
Due: eslint

More clear name
  browser.js
  index.js
  node.js
Due: eslint

Fix ESLint config syntax
  .eslintrc
Due: none

Update dependencies
  .size-limit
  package.json
  yarn.lock
Due: none

Improve docs
  README.md
Due: yaspeller-ci

Show warning only once
  node.js
  test/release.test.js
Due: eslint

Clean up tests
  test/node.test.js
Due: eslint

Added caniuse-lite browsers release date check (#267)
  __mocks__/fs.js
  browser.js
  index.js
  node.js
  test/release.test.js
  test/since.test.js
  test/years.test.js
Due: eslint

Clean up tests
  __mocks__/fs.js
  test/release.test.js
Due: eslint

Support comma in config file
  node.js
  test/config.test.js
Due: eslint

Remove Node.js 4 from Travis CI
  .travis.yml
Due: none

Fix test names
  test/release.test.js
Due: eslint

Clean up code
  node.js
Due: eslint

Fix warning message
  node.js
  test/release.test.js
Due: eslint

Remove Jest config from npm package
  .npmignore
  jest.config.js
  package.json
Due: eslint

Add names for major releases
  .yaspellerrc
  CHANGELOG.md
Due: yaspeller-ci

Fix typo
  README.md
Due: yaspeller-ci

Fix typo (#273)
  README.md
Due: yaspeller-ci

Fix ChangeLog
  CHANGELOG.md
Due: yaspeller-ci

Release 4.0 version
  .yaspellerrc
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Remove Node.js 9 from Travis CI
  .travis.yml
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Move images to subdir
  .npmignore
  README.md
  img/icon.svg
  img/logo.svg
Due: yaspeller-ci

Move all config to package.json
  .eslintrc
  .lintstagedrc
  .npmignore
  .size-limit
  .yaspellerrc
  jest.config.js
  package.json
Due: eslint

Add clean-publish
  package.json
  yarn.lock
Due: none

Fix logo on npmjs.com
  README.md
Due: yaspeller-ci

Release 4.0.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fixed small typo ('dublicate' => 'duplicate')
  node.js
  test/config.test.js
Due: eslint

Fixed small typo ('dublicate' => 'duplicate') (#281)
  node.js
  test/config.test.js
Due: eslint

Update node.js
  node.js
Due: eslint

Update node-releases
  index.js
  package.json
  yarn.lock
Due: eslint

Increase package size limit
  package.json
Due: none

Update node-releases (#287)
  index.js
  package.json
  yarn.lock
Due: eslint
