Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Release 4.24.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add PR author
  CHANGELOG.md
Due: yaspeller-ci

Remove path from cache key for path-independent queries
  index.js
Due: eslint

Speed up parsing big package.json
  node.js
  test/fixtures/broken/package.json
Due: eslint

Clean up code a little
  node.js
Due: eslint

Remove old code
  node.js
Due: eslint

Apply fs cache dynamically in findConfigFile
  node.js
Due: eslint

Embed cache in eachParent
  node.js
Due: eslint

remove excessive caches
  node.js
Due: eslint

add stat cache
  node.js
Due: eslint

Add directory check in eachParent
  node.js
Due: eslint

Remove duplicate path.resolve
  node.js
Due: eslint

cleanup findConfigFile
  node.js
Due: eslint

Move parseConfigCache to parsePackageOrReadConfig
  node.js
Due: eslint

review fixes: change naming & eachParent API
  node.js
Due: eslint

Optimize FS cache (#864)
  node.js
Due: eslint

Optimize resolve cache
  index.js
Due: eslint

Add parse cache
  index.js
Due: eslint

Add comment on condityional context.path
  index.js
Due: eslint

Update pnpm
  .github/workflows/test.yml
Due: none

Update config types
  eslint.config.mjs
Due: none

Try to fix CI
  package.json
  pnpm-lock.yaml
Due: none

Remove path from cache key for path-independent queries (#862)
  index.js
Due: eslint

Release 4.24.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

docs: fix not found workleap logo
  README.md
Due: yaspeller-ci

docs: fix not found workleap logo (#871)
  README.md
Due: yaspeller-ci

docs: add links to common configs to README (#771)
  README.md
Due: yaspeller-ci

docs: add links to common configs to README (#771) (#872)
  README.md
Due: yaspeller-ci

Clean up text
  README.md
Due: yaspeller-ci

chore: remove extra parameter in func call
  node.js
Due: eslint

security: protect again prototype pollution in loadCountry, normalizeStats, and loadFeature
  index.js
  node.js
Due: eslint

security: use a stack-based approach to flatten to avoid infinite recursion
  parse.js
Due: eslint

Update dependencies
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

Add ESM shared config support
  node.js
Due: eslint

Fix tests
  node.js
Due: eslint

Add ESM config test
  test/extends.test.js
Due: eslint

Fix tests
  test/extends.test.js
Due: eslint

Fix CI
  test/extends.test.js
Due: eslint
