Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Retain String.prototype.substring (ex. substr)
  .browserslistrc
  .travis.yml
Due: none

MINOR: fixing typo in function name
  update-db.js
Due: eslint

MINOR: fixing typo in function name (#530)
  update-db.js
Due: eslint

Retain String.prototype.substring (ex. substr)
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/lcov-report/base.css
  coverage/lcov-report/block-navigation.js
  coverage/lcov-report/browser.js.html
  coverage/lcov-report/error.js.html
  coverage/lcov-report/favicon.png
  coverage/lcov-report/index.html
  coverage/lcov-report/index.js.html
  coverage/lcov-report/node.js.html
  coverage/lcov-report/prettify.css
  coverage/lcov-report/prettify.js
  coverage/lcov-report/sort-arrow-sprite.png
  coverage/lcov-report/sorter.js
  coverage/lcov-report/update-db.js.html
  coverage/lcov.info
  index.js
  test/main.test.js
  test/update-db.test.js
  unknownQuery.js
Due: eslint

Allow Windows line endings in yarn.lock
  update-db.js
Due: eslint

Allow Windows line endings in yarn.lock (#532)
  update-db.js
Due: eslint

Update dependencis
  package.json
  yarn.lock
Due: none

Improve --update-db output
  test/update-db.test.js
  update-db.js
Due: eslint

Release 4.14.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Updating node engines
  package.json
Due: none

Remove Firefox 68 from ESR
  index.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.14.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix Unknown version 59 of op_mob error
  index.js
Due: eslint

Release 4.14.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

(fix): last N electron version[s]
  index.js
Due: eslint

(fix): last N electron version[s] (#538)
  index.js
Due: eslint

Release 4.14.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

use yarn info if necessary
  update-db.js
Due: eslint

use .data attribute of yarn info json
  update-db.js
Due: eslint

Add Node.js 15 to CI
  .travis.yml
Due: none

Fix package.bin
  package.json
Due: none

Sort dependencies
  test/fixtures/update-npm/package.json
Due: none

Fix npm 7 support
  test/update-db.test.js
  update-db.js
Due: eslint

use yarn info if necessary (#547)
  update-db.js
Due: eslint

Release 4.14.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add --ignore-workspace-root-check to yarn add and remove commands in update-db
  test/fixtures/update-yarn-workspaces/package.json
  test/fixtures/update-yarn-workspaces/yarn.lock
  test/update-db.test.js
  update-db.js
Due: eslint

Implement target browser changes
  test/fixtures/browserslist-diff-error/package-lock.json
  test/fixtures/browserslist-diff-error/package.json
  test/fixtures/browserslist-diff/package-lock.json
  test/fixtures/browserslist-diff/package.json
  test/update-db.test.js
  update-db.js
Due: eslint

Remove flatMap
  update-db.js
Due: eslint

Respect --silent flag
  cli.js
  index.js
Due: eslint

Use OpenCollective in package.funding
  package.json
Due: none

Move from Travis CI to GitHub Actions
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: none

Try to fix pnpm tests on CI
  .github/workflows/test.yml
Due: none

Improve target browser changes test
  test/update-db.test.js
Due: eslint

Apply suggestions from code review
  update-db.js
Due: eslint

Remove sorting of browsers diff cause we don't need it
  update-db.js
Due: eslint
