Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.5.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add security note
  README.md
  package.json
Due: yaspeller-ci

Fix imports order
  benchmark/run.js
  test/and.test.js
  test/cache.test.js
  test/config.test.js
  test/cover.test.js
  test/coverage.test.js
  test/custom.test.js
  test/main.test.js
  test/release.test.js
Due: eslint

Clean up code
  index.js
Due: eslint

Fix wrong string parsing
  index.js
  test/direct.test.js
Due: eslint

Release 4.5.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add browserslist-browserstack to tools section
  README.md
Due: yaspeller-ci

Add browserslist-browserstack to tools section (#362)
  README.md
Due: yaspeller-ci

Clean up docs
  README.md
  package.json
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

browserslist-useragent-regexp tool
  README.md
Due: yaspeller-ci

"RegExp" added to yaspeller dictionary
  package.json
Due: none

browserslist-useragent-regexp tool (#363)
  README.md
  package.json
Due: yaspeller-ci

Add BROWSERSLIST_IGNORE_OLD_DATA environment variable
  node.js
  test/release.test.js
Due: eslint

Release 4.5.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Clean up tools
  README.md
Due: yaspeller-ci

In `--help`, rename world to global
  cli.js
Due: eslint

In `--help`, rename world to global (#364)
  cli.js
Due: eslint

Add new browser from Can I Use
  README.md
  package.json
  test/main.test.js
Due: yaspeller-ci, eslint

Release 4.5.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Clean up Travis Ci config
  .travis.yml
Due: none

Update dependencies
  appveyor.yml
  package.json
  yarn.lock
Due: none

Add `defaults` configuration example in Readme.md.
  README.md
Due: yaspeller-ci

Add `defaults` configuration example in Readme.md. (#368)
  README.md
Due: yaspeller-ci

Move default to best practices
  README.md
Due: yaspeller-ci

Move Best Practices upper
  README.md
Due: yaspeller-ci

Remove Node.js 6 from Travis CI
  .travis.yml
Due: none

Fix case insensitivness in Node query
  index.js
  test/node.test.js
Due: eslint

Release 4.5.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Use Travis CI for Windows
  .travis.yml
Due: none

Remove AppVeyor config
  .npmignore
  appveyor.yml
Due: none

Try to fix Travis Windows
  .travis.yml
Due: none

Fix Travis Windows
  .travis.yml
Due: none
