Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

test: ➕ add update-yarn-without-integrity fixture
  test/fixtures/update-yarn-without-integrity/package.json
  test/fixtures/update-yarn-without-integrity/yarn.lock
Due: none

test: ➕ add update-yarn-without-integrity
  test/update-db/index.test.js
Due: eslint

test: 🧪 update-yarn-without-integrity
  update-db.js
Due: eslint

Ignore `null` usage value (fix #658)
  index.js
  test/and.test.js
  test/country.test.js
  test/fixtures/stats.json
  test/main.test.js
Due: eslint

Add more tests
  test/shareable-stats.test.js
Due: eslint

Add grammar definition
  .npmignore
  README.md
  grammar.w3c-ebnf
Due: yaspeller-ci

Add missing `BrowserName` definition
  grammar.w3c-ebnf
Due: none

fix: array index overflow
  index.js
Due: eslint

Tweak
  grammar.w3c-ebnf
Due: none

Fix definition
  grammar.w3c-ebnf
Due: none

Rename
  grammar.w3c-ebnf
Due: none

Add entrypoint
  grammar.w3c-ebnf
Due: none

Exclude line break from "Space"
  grammar.w3c-ebnf
Due: none

Update dependencies
  package.json
  pnpm-lock.yaml
Due: none

Update dependencies and add packageManager
  package.json
  pnpm-lock.yaml
Due: none

Speed up CI
  .github/workflows/test.yml
Due: none

feat: added option to throw on missing env
  README.md
  index.js
  node.js
  test/main.test.js
Due: yaspeller-ci, eslint

fix: passing tests for throwOnMissing
  test/main.test.js
Due: eslint

Ignore `null` usage value (fix #658) (#660)
  index.js
  test/and.test.js
  test/country.test.js
  test/fixtures/stats.json
  test/main.test.js
  test/shareable-stats.test.js
Due: eslint

fix: array index overflow (#662)
  index.js
Due: eslint

feat: added option to throw on missing env (#664)
  README.md
  index.js
  node.js
  test/main.test.js
Due: yaspeller-ci, eslint

fix: 🧪 update yarn without integrity (#659)
  test/fixtures/update-yarn-without-integrity/package.json
  test/fixtures/update-yarn-without-integrity/yarn.lock
  test/update-db/index.test.js
  update-db.js
Due: eslint

Clean up error message
  node.js
  test/main.test.js
Due: eslint

Add grammar definition (#661)
  .npmignore
  README.md
  grammar.w3c-ebnf
Due: yaspeller-ci

Clean up code
  test/update-db/index.test.js
  update-db.js
Due: eslint

Release 4.19 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

fix: add throwOnMissing to type declarations
  index.d.ts
Due: none

fix: add throwOnMissing to type declarations (#665)
  index.d.ts
Due: none

Release 4.19.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Update pnpm
  .github/workflows/test.yml
  package.json
Due: none

Remove packageManager
  package.json
Due: none

Use latest pnpm on CI
  .github/workflows/test.yml
Due: none

Do not use exact pnpm version for old Node.js
  .github/workflows/test.yml
Due: none

Sort imports
  test/fixtures/update-pnpm/package.json
Due: none

Simplify pnpm update of caniuse-lite
  test/update-db/index.test.js
  update-db.js
Due: eslint

Update dependencies
  .npmignore
  package.json
  pnpm-lock.yaml
Due: none
