Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Increase timeout to fix Windows
  test/cli.test.js
Due: eslint

Remove Windows tests
  .travis.yml
  test/cli.test.js
Due: eslint

Alias mobile browsers to the desktop version
  index.js
  test/direct.test.js
Due: eslint

Clean up dictionary
  package.json
Due: none

Fix regexp
  package.json
Due: none

Fix dictionary
  package.json
Due: none

Add mobileToDesktop option
  index.js
  test/direct.test.js
Due: eslint

Documentation
  README.md
Due: yaspeller-ci

Alias mobile browsers to the desktop version (#371)
  README.md
  index.js
  test/direct.test.js
Due: yaspeller-ci, eslint

Clean up spelling check
  package.json
Due: none

Update dependencies
  package.json
  yarn.lock
Due: none

Clearify docs
  README.md
Due: yaspeller-ci

Release 4.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Recommend more longer option
  README.md
Due: yaspeller-ci

Match desktop Chrome for evergreen Android WebView versions
  index.js
  test/direct.test.js
Due: eslint

Add Sponsor button on GitHub
  .github/FUNDING.yml
Due: none

implement support for patch versions of Electron re: #351
  index.js
  test/electron.test.js
Due: eslint

implement support for patch versions of Electron re: #351 (#378)
  index.js
  test/electron.test.js
Due: eslint

Release 4.6.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Remove browsers option from docs
  README.md
Due: yaspeller-ci

Resort config options
  README.md
Due: yaspeller-ci

Clean up examples
  README.md
Due: yaspeller-ci

Add special logic for android versions
  index.js
  test/browser.test.js
  test/last.test.js
Due: eslint

Use android logic for major queries too
  index.js
  test/major.test.js
Due: eslint

Release 4.6.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Clean up docs
  README.md
Due: yaspeller-ci

Improve environments docs
  README.md
Due: yaspeller-ci

small text change which reads better 'altogether' > 'combined'
  README.md
Due: yaspeller-ci

small text change which reads better 'altogether' > 'combined' (#381)
  README.md
Due: yaspeller-ci

Lock caniuse-lite version for temporary bug fix
  package.json
Due: none

Try to make hot fix for postcss-preset-env
  index.js
Due: eslint

Show warning on dirty fix
  index.js
Due: eslint

Release 4.6.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Simplify example
  README.md
Due: yaspeller-ci

Typo
  README.md
Due: yaspeller-ci

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
