Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

.lintstagedrc:

{
  "*.md": "yaspeller-ci",
  "*.js": "eslint"
}

Changed electron-releases to be a devDependency and generated e2cn.js via npm run importdata to reducce the package size penalty.
  .npmignore
  e2cn.json
  index.js
  package.json
  scripts/importElectronReleases.js
  yarn.lock
Due: eslint

Electron queries resolve to both chrome and node versions, replaced electron-2-chromium with electron-releases, major and minor versions resolve to oldest concrete version (3 -> 3.0.0, 1.1 -> 1.1.0).
  .npmignore
  e2cn.json
  index.js
  package.json
  scripts/importElectronReleases.js
  test/electron.test.js
  yarn.lock
Due: eslint

Reduced package size by packing generated Electron release data
  e2cn.json
  index.js
  scripts/importElectronReleases.js
Due: eslint

Work in progress: Implementation of "project browserslist" and "project electron version". "project node version" not yet implemented (semver parsing needs more work).
  index.js
  node.js
  test/fixtures/project-queries/bl/browserslist
  test/fixtures/project-queries/bl/test/browserslist
  test/fixtures/project-queries/package.json
  test/project-queries.test.js
Due: eslint

Fixed failing test for project-queries
  test/fixtures/project-queries/bl/test2/empty.txt
Due: none

Added path to context to fix 'project browserslist' query.
  index.js
  node.js
  test/fixtures/project-queries/bl/test3/package.json
  test/fixtures/project-queries/bl/test4/package.json
  test/project-queries.test.js
Due: eslint

Removed "project browserslist", refactored node specific code out of index.js
  index.js
  node.js
  test/fixtures/project-queries/bl/test/browserslist
  test/fixtures/project-queries/bl/test1/package.json
  test/fixtures/project-queries/bl/test2/empty.txt
  test/fixtures/project-queries/bl/test2/package.json
  test/fixtures/project-queries/bl/test4/package.json
  test/project-queries.test.js
Due: eslint

Reverted accidential edit
  test/fixtures/both3/browserslist
Due: none

CLean up code
  package.json
Due: none

Bump node-releases
  package.json
Due: none

Bump node-releases (#335)
  package.json
Due: none

extending custom stats test
  test/custom.test.js
  test/fixtures/browserslist-stats.json
Due: eslint

extending custom stats test (#338)
  test/custom.test.js
  test/fixtures/browserslist-stats.json
Due: eslint

Fix custom statistics and version-less browsers
  node.js
  test/custom.test.js
  test/fixtures/browserslist-stats.json
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.3.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

improvement(security): Use HTTPS
  README.md
Due: yaspeller-ci

improvement(security): Use HTTPS (#339)
  README.md
Due: yaspeller-ci

Change version-less browsers hack
  index.js
Due: eslint

Update index.js (#309)
  index.js
Due: eslint

Add tests for fractial years
  test/years.test.js
Due: eslint

Clean up year calculation
  index.js
  test/years.test.js
Due: eslint

Release 4.3.7 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

cherry picking files from upstream master
  CHANGELOG.md
  README.md
  node.js
  package.json
  test/custom.test.js
  yarn.lock
Due: yaspeller-ci, eslint

temp up size limit after merge
  package.json
Due: none

trim tests and added test for 'complex cases with version-less browser and not query as AND query'
  index.js
  query.js
  test/and.test.js
Due: eslint

shaved off a few bytes and made sure the AND syntax can be used in package.json
  index.js
  test/and.test.js
  test/fixtures/package2/package.json
Due: eslint

actually execute package.json AND queries in test
  test/and.test.js
  test/fixtures/package2/package.json
Due: eslint

backport 'to not' algorithm to 21c25e2
  index.js
Due: eslint

fixed inline documentation and comments
  index.js
Due: eslint

added description of the new supported query syntax
  README.md
Due: yaspeller-ci

fixed 'combiner' illustrations - can not inline SVG in README
  README.md
  img/complement.svg
  img/intersection.svg
  img/union.svg
Due: yaspeller-ci

center illustrations
  README.md
Due: yaspeller-ci

see what it looks like if the illustrations does not have a defined width
  img/complement.svg
  img/intersection.svg
  img/union.svg
Due: none

fixed documentation as advised by @ai - https://github.com/browserslist/browserslist/pull/286#issuecomment-452445306
  README.md
Due: yaspeller-ci

updated CHANGELOG and dependencies
  CHANGELOG.md
  package.json
  yarn.lock
Due: yaspeller-ci

fixed CHANGELOG
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Remove ChangeLog
  CHANGELOG.md
Due: yaspeller-ci

Add "and" operator to query parser (#286)
  README.md
  img/complement.svg
  img/intersection.svg
  img/union.svg
  index.js
  package.json
  test/and.test.js
  test/fixtures/package2/package.json
  yarn.lock
Due: yaspeller-ci, eslint
