Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Remove trailing comma
  README.md
Due: yaspeller-ci

Remove trailing comma (#481)
  README.md
Due: yaspeller-ci

chore: update electron-to-chromium dependency
  package.json
  yarn.lock
Due: none

Update README.md
  README.md
Due: yaspeller-ci

chore: replace pkg-up
  package.json
  yarn.lock
Due: none

chore: update pkg search
  update-db.js
Due: eslint

chore: bump escalade
  package.json
  test/update-db.test.js
  yarn.lock
Due: eslint

fix: flatten fixture tmpdir
  test/update-db.test.js
Due: eslint

fix: address feedback
  package.json
  test/update-db.test.js
  update-db.js
  yarn.lock
Due: eslint

chore: simplify `package.json` searcher (#497)
  package.json
  update-db.js
  yarn.lock
Due: eslint

Limit Node.js to fix ESM bug
  package.json
Due: none

Clean up code
  update-db.js
Due: eslint

Update dependencies
  index.js
  package.json
  test/direct.test.js
  test/electron.test.js
  yarn.lock
Due: eslint

Release 4.12.1 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Add explanation of and/or combinations in a human language.
  README.md
Due: yaspeller-ci

Update Firefox ESR
  index.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Release 4.12.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix typo
  browser.js
  test/webpack.test.js
Due: eslint

Replace `jest` devDependency for recommended `jest-cli` (fix tests running)
  package.json
Due: none

Add support for features selection (is it really so simple?) Fix #407 #491
  README.md
  index.js
  test/feature.test.js
Due: yaspeller-ci, eslint

Fix typo (#502)
  browser.js
  test/webpack.test.js
Due: eslint

Add implementations for `loadFeature()` (they were mocked)
  browser.js
  index.js
  node.js
  test/feature.test.js
  test/webpack.test.js
Due: eslint

Used `supports` instead of `feature` & improved documentation
  README.md
  index.js
  test/feature.test.js
  test/webpack.test.js
Due: yaspeller-ci, eslint

Non strict checking of feature support
  index.js
Due: eslint

Improve changelog
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Rename `browserslist.usage` to `browserslist.cache` & improved feats filter
  index.js
  node.js
  test/feature.test.js
Due: eslint

[loadFeature] Renamed `usage` to `features` & simplified code complexity
  node.js
Due: eslint

Improved docs of features detection
  README.md
Due: yaspeller-ci

Re-word exception due to lack of `supports queries` in client-side build
  browser.js
  test/webpack.test.js
Due: eslint

Allow dashes in features names
  index.js
  test/feature.test.js
Due: eslint

Fix typo in `README.md`
  README.md
Due: yaspeller-ci

Add support for features selection (#501)
  README.md
  browser.js
  index.js
  node.js
  package.json
  test/feature.test.js
  test/webpack.test.js
Due: yaspeller-ci, eslint

Organize queries
  README.md
Due: yaspeller-ci

Downgrade Jest
  package.json
  yarn.lock
Due: none

Release 4.13 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Improve supports example
  README.md
Due: yaspeller-ci

Change explanation of and/or combinations to a pseudocode.
  README.md
Due: yaspeller-ci

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
