Repository browserslist/browserslist: changes, and which lint-staged commands are due for each by the changed paths.
All: yaspeller-ci, eslint

Rewriting update-db.js to check more intelligently for different versions of caniuse-lite
  test/fixtures/update-pnpm/pnpm-lock.yaml
  test/update-db.test.js
  update-db.js
Due: eslint

chore: warn to stdout instead of stderr
  node.js
  test/release.test.ts
Due: eslint

Bail early if caniuse-lite is up to date (#562)
  test/fixtures/update-pnpm/pnpm-lock.yaml
  test/update-db.test.js
  update-db.js
Due: eslint

Update dependencies
  package.json
  yarn.lock
Due: none

Clean up code
  update-db.js
Due: eslint

Release 4.16.2 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Try fox fix tests
  test/custom.test.ts
  update-db.js
Due: eslint

Release 4.16.3 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Use actions/setup-node v2
  .github/workflows/test.yml
Due: none

Fixed typos
  README.md
Due: yaspeller-ci

Fixed typos (#581)
  README.md
Due: yaspeller-ci

Fixed "not ie <= 8" definition.
  README.md
Due: yaspeller-ci

Fixed "not ie <= 8" definition. (#584)
  README.md
Due: yaspeller-ci

Fix link for Firefox ESR in README
  README.md
Due: yaspeller-ci

Fix link for Firefox ESR in README (#585)
  README.md
Due: yaspeller-ci

Move from husky to simple-git-hooks
  package.json
  yarn.lock
Due: none

fix formatting by removing a space
  README.md
Due: yaspeller-ci

Update update-db.js
  update-db.js
Due: eslint

Update dependencies
  package.json
  test/custom.test.ts
  yarn.lock
Due: none

Fix test
  test/custom.test.ts
Due: none

Fix Node.js 10 on CI
  test/update-db.test.js
Due: eslint

Fix size limit
  package.json
Due: none

Update DB - Support for artifactory (No integrity) (#591)
  update-db.js
Due: eslint

Update clean-publish
  package.json
  yarn.lock
Due: none

Fix unsafe regexp
  index.js
  package.json
  test/node.test.ts
Due: eslint

Fix types
  test/cli.test.ts
Due: none

Release 4.16.4 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Fix ReDoS
  index.js
Due: eslint

Fix ReDoS (#593)
  index.js
Due: eslint

Use Node.js 16 on CI
  .github/workflows/test.yml
Due: none

Fix version RegExp
  index.js
Due: eslint

Release 4.16.5 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Handle npm-shrinkwrap.json file the same as package.json
  update-db.js
Due: eslint

Update tests
  test/fixtures/update-npm-shrinkwrap/npm-shrinkwrap.json
  test/fixtures/update-npm-shrinkwrap/package.json
  test/update-db.test.js
Due: eslint

Add support for npm-shrinkwrap files alongside package-lock (#595)
  test/fixtures/update-npm-shrinkwrap/npm-shrinkwrap.json
  test/fixtures/update-npm-shrinkwrap/package.json
  test/update-db.test.js
  update-db.js
Due: eslint

Release 4.16.6 version
  CHANGELOG.md
  package.json
Due: yaspeller-ci

Path conditions:
  yaspeller-ci: any of: *.md
  eslint: any of: *.js
